{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Ваши задания</h1>
            <p>Жизнь - это веселье. Но жизнь также бывает трудной. Существует множество вещей, которые вы можете делать. Но самое важное - это то, <u>что</u> вы делаете. Мы создали <b><i>Todo Woo</i></b>, чтобы помочь вам разобраться со всеми вашими возможностями и жить так, как вы больше всего хотите. Ваша новая организованная жизнь ждёт.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Начать</a>
        </div>
    </div>

{% endblock %}
